# Node.js dependencies
node_modules/
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing & coverage
/coverage

# Environment variables
.env
.env.local
.env.*.local

# OS & IDE metadata
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
